#home {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    background-image: 
        repeating-linear-gradient(
            to bottom,
            transparent,
            transparent 39px,
            var(--lightGrey) 39px,
            var(--lightGrey) 40px
        ),
        linear-gradient(
            to right,
            transparent 110px,
            #2e6da492 110px,
            #2e6da492 111px,
            transparent 111px
        );
    min-height: 100%;
}

.home-title {
    font-family: var(--titles);
    color: var(--darkBlue);
}

.home-date {
    font-family: var(--font);
    color: var(--lightGrey);
    font-size: 1.3rem;
}

.home-data{
    display: flex;
    flex-direction: column;
    height: 650px;
    margin: auto 0;
    justify-content: space-around;
}

/* MEDIA */
@media (min-width: 768px) {
    #home {
        padding: 3rem;
        background-image: 
        repeating-linear-gradient(
            to bottom,
            transparent,
            transparent 39px,
            var(--lightGrey) 39px,
            var(--lightGrey) 40px
            
        ),
        linear-gradient(
            to right,
            transparent 110px,
            #2e6da492 110px,
            #2e6da492 111px,
            transparent 111px
        );
    }

    .home-title {
        font-size: 2.5rem;
    }
    .home-date {
        font-size: 1.8rem;
    }
    .welcome {
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .home-data{
        height: 800px;
        flex-wrap: wrap;
        justify-content:space-between;
    }
}

@media (min-width: 1024px) {
    .home-data {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        height: fit-content;
    }
}