#home {
    padding: 1rem 2rem;
    height: 100dvh;
    /* background-image: 
        repeating-linear-gradient(
            to bottom,
            transparent,
            transparent 41px,
            var(--lightGrey) 41px,
            var(--lightGrey) 42px
        ),
        linear-gradient(
            to right,
            transparent 75px,
            #2e6da492 75px,
            #2e6da492 76px,
            transparent 76px
        ) */
}

.home-title {
    font-family: var(--titles);
    color: var(--darkBlue);
}

.home-date {
    font-family: var(--font);
    color: var(--lightGrey);
    font-size: 1.3rem;
}

.home-data{
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-evenly;
}

/* MEDIA */
@media (min-width: 768px) {
    #home {
        padding: 3rem;
        height: 100dvh;
        overflow: hidden;
        background-image: 
        repeating-linear-gradient(
            to bottom,
            transparent,
            transparent 39px,
            var(--lightGrey) 39px,
            var(--lightGrey) 40px
        ),
        linear-gradient(
            to right,
            transparent 100px,
            #2e6da492 100px,
            #2e6da492 101px,
            transparent 101px
        )
    }

    .home-title {
        font-size: 2.5rem;
    }
    .home-date {
        font-size: 1.8rem;
    }
    .welcome {
        display: flex;
        align-items: center;
        justify-content: space-between
    }
}