#balance-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 250px;
    height: 120px;
    border-radius: 20px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    font-family: var(--font);
    padding: 0.5rem;
    margin: 2rem auto;
}

.balance-card-title {
    color: var(--blue);
    padding-left: 0.5rem;
    font-weight: 300;
    border-bottom: 1px solid var(--lightGrey);
    font-size: 1.8rem;
}

.balance-card-amount {
    color: var(--grey); 
    align-self: center;
    font-size: 2rem;
    margin: auto;
}

.balance-card-trend {
    position: absolute;
    background-color: var(--greenHL);
    top: -18px;
    right: -60px;
    font-size: 1rem;
    color: var(--grey);
    white-space: nowrap;
    font-weight: 600;
    transform: rotate(8deg);
}

.balance-card-arrow {
    position: absolute;
    top: 10px;
    right: -40px;
    pointer-events: none;
}

@media (min-width: 768px) {
    #balance-card {
        width: 350px;
        height: 200px;
    }
    .balance-card-title {
        font-size: 2.3rem;
        padding: .5rem 1rem;
        /* margin: 1rem 0 0 1rem; */
    }
    .balance-card-amount {
        font-size: 3rem;
    }
    .balance-card-trend {
        font-size: 1.5rem;
        top: -30px;
        right: -90px;
    }
}